:root {
    --grid-col: 16;
    --grid-row: 16;
    --cell-size: calc(100% / var(--grid-col));
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(188, 188, 188);
}

#title {
  font-size: 4vw;
  text-align: center;
  padding-top: 2%;
  font-family: 'Courier New', Courier, monospace;
}

#sketch_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch_frame {
  width: 80vmin;
  height: 80vmin;
  display: grid;
  grid-template-columns: repeat(var(--grid-col), 1fr);
  grid-template-rows: repeat(var(--grid-row), 1fr);
}

.cell {
  background-color: lightgray;
}
